@model QuanLyBanHang.Models.MatHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MatHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMatHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMatHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiMatHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiMatHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMatHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
